@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-basic-green {
    @apply btn border-green-500 bg-green-500 text-white hover:border-green-600 hover:bg-green-600 hover:text-white focus:border-green-600 focus:bg-green-600 focus:text-white focus:ring focus:ring-green-100 active:border-green-600 active:bg-green-600 active:text-white active:ring active:ring-green-100 dark:ring-green-400/10;
  }
  .btn-basic-slate {
    @apply btn border-slate-500 bg-slate-500 text-white hover:border-slate-600 hover:bg-slate-600 hover:text-white focus:border-slate-600 focus:bg-slate-600 focus:text-white focus:ring focus:ring-slate-100 active:border-slate-600 active:bg-slate-600 active:text-white active:ring active:ring-slate-100 dark:ring-slate-400/10;
  }
  .input-default {
    @apply form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200;
  }
}

@layer utilities {
}

.loader-loading {
  --w: 10ch;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: #0000;
  animation: l17 2s infinite;
}
.loader-loading:before {
  content: 'Loading...';
}

@keyframes l17 {
  0% {
    text-shadow:
      calc(0 * var(--w)) -1.2em #000,
      calc(-1 * var(--w)) -1.2em #000,
      calc(-2 * var(--w)) -1.2em #000,
      calc(-3 * var(--w)) -1.2em #000,
      calc(-4 * var(--w)) -1.2em #000,
      calc(-5 * var(--w)) -1.2em #000,
      calc(-6 * var(--w)) -1.2em #000,
      calc(-7 * var(--w)) -1.2em #000,
      calc(-8 * var(--w)) -1.2em #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  4% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) -1.2em #000,
      calc(-2 * var(--w)) -1.2em #000,
      calc(-3 * var(--w)) -1.2em #000,
      calc(-4 * var(--w)) -1.2em #000,
      calc(-5 * var(--w)) -1.2em #000,
      calc(-6 * var(--w)) -1.2em #000,
      calc(-7 * var(--w)) -1.2em #000,
      calc(-8 * var(--w)) -1.2em #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  8% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) -1.2em #000,
      calc(-3 * var(--w)) -1.2em #000,
      calc(-4 * var(--w)) -1.2em #000,
      calc(-5 * var(--w)) -1.2em #000,
      calc(-6 * var(--w)) -1.2em #000,
      calc(-7 * var(--w)) -1.2em #000,
      calc(-8 * var(--w)) -1.2em #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  12% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) -1.2em #000,
      calc(-4 * var(--w)) -1.2em #000,
      calc(-5 * var(--w)) -1.2em #000,
      calc(-6 * var(--w)) -1.2em #000,
      calc(-7 * var(--w)) -1.2em #000,
      calc(-8 * var(--w)) -1.2em #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  16% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) -1.2em #000,
      calc(-5 * var(--w)) -1.2em #000,
      calc(-6 * var(--w)) -1.2em #000,
      calc(-7 * var(--w)) -1.2em #000,
      calc(-8 * var(--w)) -1.2em #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  20% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) -1.2em #000,
      calc(-6 * var(--w)) -1.2em #000,
      calc(-7 * var(--w)) -1.2em #000,
      calc(-8 * var(--w)) -1.2em #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  24% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 0 #000,
      calc(-6 * var(--w)) -1.2em #000,
      calc(-7 * var(--w)) -1.2em #000,
      calc(-8 * var(--w)) -1.2em #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  28% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 0 #000,
      calc(-6 * var(--w)) 0 #000,
      calc(-7 * var(--w)) -1.2em #000,
      calc(-8 * var(--w)) -1.2em #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  32% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 0 #000,
      calc(-6 * var(--w)) 0 #000,
      calc(-7 * var(--w)) 0 #000,
      calc(-8 * var(--w)) -1.2em #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  36% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 0 #000,
      calc(-6 * var(--w)) 0 #000,
      calc(-7 * var(--w)) 0 #000,
      calc(-8 * var(--w)) 0 #000,
      calc(-9 * var(--w)) -1.2em #000;
  }
  40%,
  60% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 0 #000,
      calc(-6 * var(--w)) 0 #000,
      calc(-7 * var(--w)) 0 #000,
      calc(-8 * var(--w)) 0 #000,
      calc(-9 * var(--w)) 0 #000;
  }
  64% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 0 #000,
      calc(-6 * var(--w)) 0 #000,
      calc(-7 * var(--w)) 0 #000,
      calc(-8 * var(--w)) 0 #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
  68% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 0 #000,
      calc(-6 * var(--w)) 0 #000,
      calc(-7 * var(--w)) 0 #000,
      calc(-8 * var(--w)) 1.2em #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
  72% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 0 #000,
      calc(-6 * var(--w)) 0 #000,
      calc(-7 * var(--w)) 1.2em #000,
      calc(-8 * var(--w)) 1.2em #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
  76% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 0 #000,
      calc(-6 * var(--w)) 1.2em #000,
      calc(-7 * var(--w)) 1.2em #000,
      calc(-8 * var(--w)) 1.2em #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
  80% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 0 #000,
      calc(-5 * var(--w)) 1.2em #000,
      calc(-6 * var(--w)) 1.2em #000,
      calc(-7 * var(--w)) 1.2em #000,
      calc(-8 * var(--w)) 1.2em #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
  84% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 0 #000,
      calc(-4 * var(--w)) 1.2em #000,
      calc(-5 * var(--w)) 1.2em #000,
      calc(-6 * var(--w)) 1.2em #000,
      calc(-7 * var(--w)) 1.2em #000,
      calc(-8 * var(--w)) 1.2em #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
  88% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 0 #000,
      calc(-3 * var(--w)) 1.2em #000,
      calc(-4 * var(--w)) 1.2em #000,
      calc(-5 * var(--w)) 1.2em #000,
      calc(-6 * var(--w)) 1.2em #000,
      calc(-7 * var(--w)) 1.2em #000,
      calc(-8 * var(--w)) 1.2em #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
  92% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 0 #000,
      calc(-2 * var(--w)) 1.2em #000,
      calc(-3 * var(--w)) 1.2em #000,
      calc(-4 * var(--w)) 1.2em #000,
      calc(-5 * var(--w)) 1.2em #000,
      calc(-6 * var(--w)) 1.2em #000,
      calc(-7 * var(--w)) 1.2em #000,
      calc(-8 * var(--w)) 1.2em #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
  96% {
    text-shadow:
      calc(0 * var(--w)) 0 #000,
      calc(-1 * var(--w)) 1.2em #000,
      calc(-2 * var(--w)) 1.2em #000,
      calc(-3 * var(--w)) 1.2em #000,
      calc(-4 * var(--w)) 1.2em #000,
      calc(-5 * var(--w)) 1.2em #000,
      calc(-6 * var(--w)) 1.2em #000,
      calc(-7 * var(--w)) 1.2em #000,
      calc(-8 * var(--w)) 1.2em #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
  100% {
    text-shadow:
      calc(0 * var(--w)) 1.2em #000,
      calc(-1 * var(--w)) 1.2em #000,
      calc(-2 * var(--w)) 1.2em #000,
      calc(-3 * var(--w)) 1.2em #000,
      calc(-4 * var(--w)) 1.2em #000,
      calc(-5 * var(--w)) 1.2em #000,
      calc(-6 * var(--w)) 1.2em #000,
      calc(-7 * var(--w)) 1.2em #000,
      calc(-8 * var(--w)) 1.2em #000,
      calc(-9 * var(--w)) 1.2em #000;
  }
}
